footer {
  background: var(--color-primary-variant);
  text-align: center;
  padding: 3rem 0;
  font-size: 0.9rem;
  margin-top: 5rem;
}

footer a {
  color: var(--color-light);
  font-size: larger;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.footer-links {
  flex: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer-socials {
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer-socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer-socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer-copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer-socials {
    margin-bottom: 2.6rem;
  }
}
