.job-experience {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.job-experience-section {
  margin-top: 0;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.job-experience-section:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.job-experience-complex {
  color: var(--color-white);
  gap: 2rem;
  grid-template-columns: 25% 40%;
  max-height: 5rem;
}

.job-experience-prof {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 11rem; */
}

.job-experience-img {
  align-items: center;
  justify-content: center;
  width: 6rem;
}

.job-experience-about {
  padding: 1rem 0 0 1.2rem;
  text-align: center;
  color: var(--color-light);
}

.job-experience-about li {
  list-style-type: square;
  text-align: left;
}

.job-experience-about li:empty {
  display: none;
}

@media screen and (max-width: 1024px) {
  .job-experience {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
  .job-experience-complex {
    align-items: flex-start;
  }
  .job-experience-img {
    align-items: flex-start;
    width: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .job-experience {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .job-experience-img {
    width: 4rem;
  }
  .job-experience-complex {
    grid-template-columns: 10% 75%;
    align-items: center;
    justify-content: center;
  }
  .job-experience-about {
    margin: 0;
  }
}
